* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}
.container-fluid h1 {
  font-size: 2em;
}
.container-fluid a {
  color: rgb(217, 13, 13);
}
#navbarNav {
  justify-content: flex-end;
}
#hero a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  color: white;
  background-color: rgb(160, 14, 150);
}
#hero a:hover {
  background-color: rgb(208, 58, 198);
}
.animacion {
  opacity: 1;
  animation-name: animacionLetra;
  animation-duration: 1.8s;
  animation-fill-mode: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animacionLetra {
  to {
    opacity: 0.1;
  }
}
header {
  background-color: rgba(245, 245, 245, 0.886);
}
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(160, 14, 150);
  font-size: 2em;
}
header .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}
header a:hover {
  color: rgb(160, 14, 150);
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/prog.png");
  background-repeat: none repeat;
  background-size: cover;
  background-position: center center;
}
.animacion h1 {
  color: white;
  font-size: 4vw;
}

.color-acento {
  color: rgb(160, 14, 150);
}
#somos-proya .contenedor {
  text-align: center;
  padding: 200px 12px;
}
#nuestros-programas {
  background-color: rgba(30, 30, 30);
  color: white;
  text-align: center;
}
#nuestros-programas .contenedor {
  padding: 100px 0px;
}
#nuestros-programas h2 {
  margin-top: 0;
  font-size: 3.2em;
}
#nuestros-programas p {
  text-align: justify;
  display: none;
  padding-top: 3em;
}
#nuestros-programas .carta {
  background-position: center center;
  background-size: cover;
  padding: 80px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(26, 48, 242, 0.5);
}
#nuestros-programas a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(160, 14, 150);
}
#nuestros-programas a:hover {
  background-color: rgb(208, 58, 198);
}
.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/frond.png");
}
.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/back.png");
}
.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/python.png");
}
#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(30, 30, 30);
  color: white;
  height: 80vh;
}
#final h2 {
  font-size: 4vw;
}
#final a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(205, 205, 214, 0.709);
  color: white;
  background-color: rgb(108, 4, 101);
}
#final a:hover {
  background-color: rgb(160, 14, 150);
}
footer {
  background-color: rgba(230, 230, 230);
}
footer p {
  margin: 0;
  padding: 12px;
  color: rgba(100, 100, 100);
}
footer .contenedor {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#somos-proya .contenedor {
  display: flex;
  justify-content: space-evenly;
}
#somos-proya .somos {
  width: 50%;
  max-width: 500px;
  text-align: justify;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#somos-proya h2 {
  margin-top: 0px;
}
#somos-proya .img-contenedor {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/somos.png");
  background-size: cover;
  background-position: center center;
  height: 420px;
  width: 70%;
  border-radius: 30px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}
#nuestros-programas .programas {
  display: flex;
  justify-content: center;
}
#nuestros-programas p {
  display: block;
  margin-bottom: 30px;
}
#nuestros-programas h3 {
  margin-top: 0;
}
#nuestros-programas .carta {
  padding: 50px;
  background-size: 100% 150px;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-color: rgb(67, 64, 64);
  box-shadow: 15px 15px 25px rgba(1, 5, 38, 0.5);
}
.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/frond-cort.png");
}
.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/back-cort.png");
}
.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/python-cort.png");
}
#caracteristicas {
  background-color: rgb(242, 240, 232);
  padding: 50px;
}
#caracteristicas .contenedor {
  display: flex;
  justify-content: space-evenly;
}

#caracteristicas .lista {
  width: 50%;
  max-width: 500px;
  text-align: justify;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#caracteristicas li {
  font-size: 1.5em;
  font-weight: bold;
}
#caracteristicas .images {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/developer.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}
#final h2 {
  font-size: 4em;
}
#final a {
  font-size: 2em;
}
footer .contenedor {
  justify-content: flex-end;
}
